# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Play Asteroids': 'asteroids:play'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Asteroids'
      'submenu': [
        { 'label': 'Play', 'command': 'asteroids:play' }
      ]
    ]
  }
]
